.recoHead {
    margin: 1rem 6rem;
}

.recoGrid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 2fr));
}

.recoCard {
    position: relative;
    padding: 0.5rem;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 2px 1px rgb(216, 213, 213);
    transition: all 0.3s;
    margin: .5rem;
}
.recoCard p{
    padding: 0rem .5rem;
    color: gray;
}
.recoCard h4{
    padding: 0rem .5rem;
}

@media (max-width:992px) {
    .recoGrid {
       
        grid-template-columns: repeat(2, minmax(0, 2fr));
    }
    .recoHead {
        margin: 0rem;
    }
    .recoCard {
        margin: .5rem;
        padding: 0;
    }

}
@media (max-width:768px) {

}
@media (max-width:600px) { 

}