.footerHead {
    margin: 1rem 6rem;
}

.footerGrid {
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* display: grid;
    grid-template-columns: repeat(6, minmax(0, 2fr)); */

    margin: 0 .5rem;
}

.logoPart {
    flex: 1;
}

.logoAbout {
    flex: .5;
    
}

.logoPartner {
    flex: .5;
}

.logoInfo {
    flex: .5;
}

.logoUser {
    flex: .5;
}

.logoApp {
    flex: 1;
}

.footertextHeader {
    margin-bottom: .5rem;
}

.footerLogos {
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0rem;

}
.logoPart .border{
    border-radius: .3rem;
}
.SecondFooterFlex{
    text-align: center;
    /* border: 1px solid gray; */
    padding: 1rem;
    box-shadow: 0px 0px 2px 1px rgb(216, 213, 213);
}
@media (max-width:992px) {
    .footerLogos{
        margin: 0.5rem 0rem; 
        gap: 0rem;
        background: none;
    }

    .logoPart .border{
        margin: .1rem;
        background: none;
        border-radius: .3rem;
    }
    .footerHead {
        margin: 0;
    }

    .footerGrid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 2fr));
        font-size: .7rem;
        padding: .5rem;
    }
}

@media (max-width:768px) {}

@media (max-width:600px) {}